Repository kubediag/kubediag, pull requests merged in 2022-03, with the labels that each got.

#125 Add design document for function API
  docs/design/function.md
Labels: kind/design

#122 Implement operation function API
  Dockerfile
  Dockerfile.arm64
  api/v1/operation_types.go
  api/v1/operation_webhook.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/diagnosis.kubediag.org_operations.yaml
  config/deploy/elasticsearch_collector.yaml
  config/deploy/manifests.yaml
  config/deploy/python_function.yaml
  config/manager/kubediag.yaml
  config/samples/docker-debugger.yaml
  config/samples/docker_debugger.yaml
  config/samples/elasticsearch_collector.yaml
  config/samples/python_function.yaml
  main.go
  pkg/controllers/operation_controller.go
  pkg/executor/executor.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: kind/api-change

#123 Render diagnosis name from alert
  pkg/alertmanager/alertmanager.go
Labels: kind/feature
